@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

body{
    font-family: 'Darker Grotesque', sans-serif;
}
/* Cabeçalho */

.cabecalho{ /* Todo cabeçalho */
    width: 100%;
    text-align: center;
    background-color:rgb(133, 205, 245);
    padding: 0.06em;
    top: 0em;
}
a{
    color:rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    position: relative;
    border: 0;
    background: 10px;
    
}
.destino1:after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 100px;
    left: 0;
    transition: transform .3s ease-in-out;
}
.destino1:after{
    border-bottom: 4px solid rgb(51, 51, 51);
    transform: scaleX(0);
}
.destino1:hover:after{
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    font-size: 1.5rem;
}    
.destino2:after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 50px;
    transition: transform .3s ease-in-out;
}
.destino2:after{
    border-bottom: 4px solid rgb(51, 51, 51);
    transform: scaleX(0);
}
.destino2:hover:after{
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    font-size: 1.5rem;
}  
.destinos{
    display: flex;
    justify-content: space-around;
}
.destino2{
    color: rgb(51, 51, 51);
    font-size: 2em;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.destino1{
    color: rgb(51, 51, 51);
    font-size: 2em;
    display: flex;
    align-items: center;
    font-weight: 600;
}

/*Primeiro Slide*/
.adoteUmLobinho{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    background-image: url(imagens/image\ \(3\).jpg);
    background-color: black;
    background-size: 90em;
    background-position-y: 102em;
    position: relative;
    padding-top: 16em;
    padding-bottom: 16em;
}

h1{
    position: relative;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: white;
    font-size: 6em;
    font-weight:600;
}
h1:after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 45%;
    left: 45%;
    transition: transform .8s ease-in-out;
}
h1:after{
    border-bottom: 4px solid rgb(255, 255, 255);
    transform: scaleX(0);
}
h1:hover:after{
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    font-size: 1.5rem;
}  
.adoteTexto{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.6em;
    font-weight:400;
    text-align: center;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 2em;
} 
/*Sobre Mim*/
.sobre{
    padding: 6em;
    background-color: rgb(46, 86, 127);
}

h2{
    color: rgb(222, 185, 89);
    font-size: 4em;
    text-align: center;
    padding-bottom: 0.5em;
}
.minidescricao{
    color: white;
    font-size: 1.2em;
    font-weight:400;
    margin-right: 10em;
    margin-left: 10em;
    text-align: center;

}


/* Valores */

.todosValores{
    display: flex;
    justify-content: space-between;

}
.valores{
    background-color: rgb(51, 51, 51);
    padding: 5em;
}
.conjuntoValores{
    display:flex;
    flex-direction: column;
    color: #fafafa;
    width: 200px;
    height: 400px;
    text-align: center;
    align-items: center;
}
.moldura-img1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #fafafa;
    border-radius: 50%;
}
.moldura-img1 > img {
    width: 110px;
    height: 110px;
    
}
h3{
    font-weight: 500;
    font-size: 2em;
}
p{ 
    font-size: 1.2em;
    font-weight:400;
}


/* Exemplos de Lobo */
.lobosExemplos{
    margin-top: 2em;
}
.Lobo1{
    text-align:left;
    padding-left: 4em;
    max-width: 600px;
    margin-right: 100px;
}
.Lobo2{
    text-align:right;
    padding-right: 4em;
    max-width: 600px;
    margin-left: 100px;
	
}
.sombra1{
    box-shadow: 30px -30px rgb(44, 86, 126);
    margin-bottom: 100px; 
}
.sombra2{
    box-shadow: -30px -30px rgb(44, 86, 126);
    margin-bottom: 100px; 
}
.exLobo{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}
.nomeLobo2{
    color: rgb(51, 51, 51);
    font-size: 3em;
    text-align: right;
}
.nomeLobo1{
    color: rgb(51, 51, 51);
    font-size: 3em;
    text-align: left;
}
.idadeLobo{
    color: rgb(51, 51, 51);
    font-size: 1.2em;
}
.descricaoLobo{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight:600;
}


/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    padding-top: 3em;
    padding-bottom: 0.5em;
    padding-left: 5em;
    padding-right: 5em;
    align-items: center;
} 
.mapaContato{ /*mapa e dados*/
    display: flex;
    justify-content: space-between;
    
}
.mapa{ /*Mapa Google*/
    padding-left: 6em;
}
.enderecoContato{/*Dados endereço*/
    /* padding: 1em; */
    max-width: 400px;
    color: white;
    font-size: 1.2em;
    font-weight:400;
    
}
.logoFooter{ /*Logo e texto*/
    padding-right: 6em;
}
.textoLogo{/*texto*/
    color: white;
    font-size: 1.2em;
    font-weight:400;
}
.cep{
    display: flex;
    align-items: flex-start;
    padding-left: 2em;
    padding-top: 1em;
}
.botao{
    border: 1px solid rgb(59, 59, 59);
    background-color: rgb(222, 185, 89);
    padding: 0.2em;
    color: rgb(51, 51, 51);
    font-size: 1.5em;
    font-weight: 600;
}
